/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "freight-display-pro,Constantia,Lucida Bright,Lucidabright,Lucida Serif,Lucida,DejaVu Serif,Bitstream Vera Serif,Liberation Serif,Georgia,serif";
    font-weight: 500;
    font-style: normal;
}

main {
    background: linear-gradient(to bottom, #FFE9F0, #DFD9FF);
    height: 100%;
    padding: 3rem;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}
  
main form {
  display: flex;
  margin-top: 2.5vw;
  gap: 20px;
}

.left {
  flex: 65%;
}

.right {
  flex: 35%;
}

.order-wrapper {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.orders, .input-recipient, .payment-method, .order-summary{
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -4px rgba(0,0,0,.2);
}

.order {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order .img-container {
  width: 80px;
  height: 90px;
  border-radius: 15px;
  overflow: hidden;
}

.order-name {
  font-weight: 700;
  font-size: 1rem;
}

.order-qty {
  opacity: 75%;
  font-weight: 300;
}

.input-recipient {
  margin: 2vw 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-name, .input-number {
  flex: 50%;
}

.input-wrapper div, .input-address{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input-wrapper div input {
  width: 100%;
}

.payment-wrapper {
  padding: 1rem;
}

.category button {
  background: transparent;
  border-radius: 20px;
  outline: none;
  border: 1px solid #e5e5e5;
  padding: .5rem .75rem;
  cursor: pointer;
}

.category button:hover {
  border-color: #bcbcbc;
}

.category button.active {
  color: #f384a7;
  border-color: #f384a7;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  /* gap: 1rem; */
  row-gap: .75rem;
  margin: 1rem 0;
}

.none {
  display: none;
}


.pay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 49%;
  padding: .5rem .75rem;
  gap: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: .1s all ease-in;
}

.pay:hover {
  border-color: #bcbcbc;
}

.payment .pay.active {
  border-color: #bcbcbc;
}

.pay input[type="radio" i]:checked + label{
  color: #f384a7;
  background-color: #f384a7;
}

.pay .img-pay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 3vw;
}

.pay span {
  text-align: left;
}

.card-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.card-num input {
  width: 100%;
}

.card-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-expired input {
  width: 50px;
}

.expired-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info-wrapper > div {
  /* flex: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-cvv input {
  width: 5rem;
}

.allowed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.img-bank {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allowed img {
  width: 5vw;
}

.category {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.sub-wrapper {
  padding: 1rem;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .5rem;
}

.total {
  padding-top: .5rem;
  border-top: 1px solid #bcbcbc;
}

.total-wrap {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

.submit {
  outline: none;
  border: none;
  background-color: #f384a7;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: .5rem;
  margin-top: .5rem;
  transition: .3s all ease-in-out;
  border: 1px solid #f384a7;
}

.submit:hover {
  background-color: transparent;
  color: #f384a7;
}

