@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

section{
    padding-top: 90px;
    width: 100%;
    height: 70vh;
    background-image: repeating-linear-gradient(to bottom, transparent, rgb(255, 189, 242));
    background-size: 100% 400%;
    display: flex;
    justify-content: center; /* Center horizontally */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    h1{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }

    .left, .right{
        position: relative;
        width: 300px;
        height: 350px;
        perspective: 1000px;
        cursor: pointer;
        margin: 0 50px;
    }

    .inner{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .left:hover .inner, .right:hover .inner{
        transform: rotateY(-180deg);
    }

    .front, .back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 10px 10px lightpink;
    }

    .back{
        background: lightpink;
        color: white;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        padding: 0px 10px;
        box-shadow: 0px 10px 10px 10px white;
    }

    .left img{
        width: 200px;
        height: 125px;
    }

    .left .front{
        padding-top: 25%;
    }

    .right .front{
        padding-top: 20%;
    }

    .right img{
        width: 250px;
        height: 200px;
    }
}

@media only screen and (max-width: 820px) {
    section {
        padding-top: 100px;
        padding-bottom: 30px;
        flex-direction: column;
        height: 950px; 
    }
    
    .left,
    .right {
        width: 100%; /* Make the cards full width */
        margin: 0; /* Reset margin */
    }

    .right{
        top: 50px;
    }
}
