@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
.footer_container{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 12px;
  padding: 50px 200px;
  background-color: #fff;
  color: #57256A;
}
.footer_container .container{
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.footer_container .container .sec h2{
  position: relative;
  font-weight: 600;
  margin-bottom: 15px;
  color: #57256A;
}
.footer_container .container .sec p{
  columns: #57256A;
}
.footer_container .container .sci{
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4,50px);
}
.footer_container .container .sci li{
  list-style: none;
}
.footer_container .container .sci li a{
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #eaefff;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
.footer_container .container .sci li a i{
  color: #9100a8;
  font-size: 20px;
}
.footer_container .container .quickLinks{
  position: relative;
}
.footer_container .container .quickLinks ul li{
  list-style: none;
}
.footer_container .container .quickLinks ul li a{
  color: #57256A;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
.footer_container .container .contact .info{
  position: relative;
}
.footer_container .container .contact .info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.footer_container .container .contact .info li span{
  color: #57256A;
  font-size: 20px;
}
.footer_container .container .contact .info li a{
  color: #57256A;
  text-decoration: none;
}
.copy-right{
  font-size: 12px;
  width: 100%;
  background: #fff;
  padding: 20px 100px 30px;
  text-align: center;
  color: #57256A;
  border: 1px solid rgba(0,0,0,0.15);
} 
@media (max-width: 1100px){
  /* Footer Container */
  .footer_container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 20px;
  }
  .footer_container .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer_container .container .sci {
    display: flex;
    justify-content: left;
  }
  .footer_container .container .sci li {
    margin-right: 10px;
  }
  .footer_container .container .sci li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .copy-right {
    font-size: 12px;
    text-align: center;
  } 
}