@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* css buat nav bar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header {
  padding: 0;
  margin: 0;
}
.nav_header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4F5563;
  background-color: #FAFCFF;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  z-index: 100;
}
.nav {
  height: 70px;
  max-width: 1120px;
  margin-inline: 24px;
}
.nav_data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_header a {
  text-decoration: none;
}
.nav_menu ul {
  list-style: none;
}
.nav_logo {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  font-style: italic;
  color: #f384a7;
  font-weight: bold;
  transition: color 0.3s;
}
.nav_logo img{
    width: 110px;
    height: 110px;
}
.nav_logo i {
  font-size: 20px;
}
.nav_logo:hover {
  color: #9A3AD9;
}
.nav_toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav_toggle-menu, .nav_toggle-close {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
  font-size: 20px;
  color: #000000;
}
.nav_toggle-close {
  opacity: 0;
}
@media screen and (max-width: 1118px) {
    .nav_menu {
      position: absolute;
      width: 100%;
      height: calc(100vh - 55px);
      overflow: auto;
      pointer-events: none;
      left: 0;
      padding-block: 24px 64px;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
      background-color: #FAFCFF;
    }
    /* scrollbar sebelah kanan saat dropdown menu asya di pencet muncul scroll bar */
    .nav_menu::-webkit-scrollbar {
      width: 8px;
    }
    .nav_menu::-webkit-scrollbar-thumb {
      background-color: hsl(223, 10%, 65%);
    }
}
.nav_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    color: #000000;
    font-weight: bold;
    transition: background-color 0.3s;
}
.nav_link_afterLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: bold;
    padding: 20px 10px;
    transition: background-color 0.3s;
}
.nav_link_afterLogin p{
  margin-left: 15px;
}
.nav_link:hover {
  background-color: #F2F6FD;
}
.show-menu {
  top: 56px;
  pointer-events: initial;
  opacity: 1;  
}
.show-icon .nav_toggle-menu {
  transform: rotate(90deg);
  opacity: 0;  
}
.show-icon .nav_toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}
.dropdown_button {
  cursor: pointer;
}
.dropdown_arrow {
    font-size: 24px;
    font-weight: initial;
    transition: transform 0.4s;
}
.dropdown_content, .dropdown_group, .dropdown_list {
   display: grid;
}
.dropdown_container {
    background-color: #F2F6FD;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}
.dropdown_content {
    row-gap: 20px;
}
.dropdown_group {
  row-gap: 8px;
  padding-left: 40px;
    
}
.dropdown_group:first-child {
  margin-top: 20px;
}
.dropdown_group:last-child {
  margin-bottom: 20px;
}
.dropdown_icon i {
  font-size: 20px;
  color: #f384a7;
}
.dropdown_title {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
.dropdown_list {
  row-gap: 4px;
}
.dropdown_link {
  font-size: 12px;
  font-weight: 500;
  color: #4F5563;
  transition: color 0.3s;
}
.dropdown_link:hover {
  color: #57256A;
}
.dropdown_title a{
  color: #000;
}
.show-dropdown .dropdown_arrow {
  transform: rotate(180deg);
}

.fa-cart-shopping:before, .fa-shopping-cart:before {
  content: "\f07a";
  color: #000;
}

/*breakpoint*/
/*buat small devices */
@media screen and (max-width: 300px) {
  .dropdown_group {
    padding-left: 24px;
  }
}
/*buat large devices */
@media screen and (min-width: 1118px) {
  .nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
  }
  .nav li {
    display: flex;
  }
  .nav_toggle {
    display: none;
  }
  .nav_list {
    display: flex;
    column-gap: 48px;
    height: 100%;
  }
  .nav_link {
    padding: 5px;
  }
  .nav_link:hover {
    background-color: initial;
  }
  .dropdown_button {
    column-gap: 4px;
    pointer-events: none;
  }
  .dropdown_container {
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #FAFCFF;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown_content {
    justify-content: center;
    grid-template-columns: repeat(5, max-content);
    column-gap: 100px;
    max-width: 1120px;
    margin-inline: auto;
  }
  .dropdown_group {
    padding: 64px 0;
    align-content: baseline;
    row-gap: 20px;
  }
  .dropdown_group:first-child, .dropdown_group:last-child {
    margin: 0;
  }
  .dropdown_list {
    row-gap: 12px;
  }
  .dropdown_icon {
    width: 60px;
    height: 60px;
    background-color: #F2F6FD;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 16px;
  }
  .dropdown_icon i {
    font-size: 32px;
  }
  .dropdown_title {
    font-size: 16px;
  }
  .dropdown_link {
    font-size: 13px;
  }
  .dropdown_link:hover {
    color: #9A3AD9;
  }
  .dropdown_item {
    cursor: pointer;
  }
  .dropdown_item:hover .dropdown_arrow {
    transform: rotate(180deg);
  }
  .dropdown_item:hover > .dropdown_container {
    pointer-events: initial;
    cursor: initial;
    top: 80px;
    opacity: 1;
  }
  .dropdown_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

/* css buat footer*/
.footer_container{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 12px;
  padding: 50px 200px;
  background-color: #fff;
  color: #000000;
  font-family: "Poppins", sans-serif;
}
.footer_container .container{
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.footer_container .container .sec h2{
  position: relative;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000000;
}
.footer_container .container .sec p{
  columns: #000000;
}
.footer_container .container .sci{
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4,50px);
}
.footer_container .container .sci li{
  list-style: none;
}
.footer_container .container .sci li a{
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #000000;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
.footer_container .container .sci li a i{
  color: #ffffff;
  font-size: 20px;
}
.footer_container .container .quickLinks{
  position: relative;
}
.footer_container .container .quickLinks ul li{
  list-style: none;
}
.footer_container .container .quickLinks ul li a{
  color: #000000;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
.footer_container .container .contact .info{
  position: relative;
}
.footer_container .container .contact .info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.footer_container .container .contact .info li span{
  color: #000000;
  font-size: 20px;
}
.footer_container .container .contact .info li a{
  color: #000000;
  text-decoration: none;
}
.copy-right{
  font-size: 12px;
  width: 100%;
  background: #fff;
  padding: 20px 100px 30px;
  text-align: center;
  color: #000000;
  border: 1px solid rgba(0,0,0,0.15);
} 
@media (max-width: 1100px){
  .footer_container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 20px;
  }
  .footer_container .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer_container .container .sci {
    display: flex;
    justify-content: left;
  }
  .footer_container .container .sci li {
    margin-right: 10px;
  }
  .footer_container .container .sci li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .copy-right {
    font-size: 14px;
    text-align: center;
  } 
}

.shop_quantity {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.quantity {
  background-color: red;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

@media screen and (max-width: 1118px){
  .quantity {
    margin-bottom: 10px;
    margin-right: 8px;
  }
}

main {
  background-color: #dfd9ff;
  color: #000000;
  width: 100%;
  max-height: max-content;
  padding: 0;
  margin: 0;
}

.shop {
  background: linear-gradient(#ffeefd, #ffe9ff, #dfd9ff);
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.shop__container {
  max-width: 100%;
  padding: 20px;
}

.shop__text {
  max-width: 50%;
  padding: 1rem;
}

.shop__img {
  max-width: 100%;
  max-width: 400px;
}

.shop__title {
  font-size: 50px;
  font-family: "Helvetica Neue", serif;
  margin-bottom: 1rem;
  font-style: italic;
  text-shadow: 2px 3px 40px #4F5563;
}

.shop__subtitle {
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  font-family: "Nunito";
}

.shop__cupcake_1, .shop__cupcake_2{
  position: absolute;
  opacity: .2;
}

.shop__cupcake_1{
  margin: 0;
  padding: 0;
  width: 150px;
  top: 8rem;
  left: -1rem;
  transform: rotate(45deg);
}

.shop__cupcake_2{
  width: 15vw;
  right: 2.5rem;
  bottom: 1rem;
  transform: rotate(-15deg);
}

.menu {
  background-color: #dfd9ff;
  position: relative;
  padding-top: 90px;
  display: grid;
  place-items: center;
  margin-inline: 0rem;
  padding-block: 0;
  padding-inline: 0;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 100px;
}

.menu__container {
  padding-top: 0;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 5.5rem;
  column-gap: 4rem;
  z-index: 0;
  max-height: max-content;
}

.menu__card {
  position: relative;
  background-color: #fbf5ff;
  padding: 5rem 2rem 3rem;
  box-shadow: 0 8px 20px hsla(19, 64%, 48%,.08);
  border-radius: 1rem;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.menu__card a{
  text-decoration: none;
  color: #000;
}

.menu__card__img {
  max-width: 300px;
  position: relative;
  inset: 0;
  top: -2.5rem;
  margin: 0 auto;
  transform: transform .4s;
  border-radius: 5%;
}

.menu__name {
  font-size: 20px;
  font-family: 'Nunito', serif;
  margin-bottom: .25rem;
}

.menu__desc {
  display: block;
  font-size: 15px;
  margin-bottom: 1rem;
}

.menu__price {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.menu__button {
  display: flex;
  background-color: #f384a7;
  padding: 6px;
  border-radius: 50%;
  outline: none;
  color: #ffffff;
  font-size: 1.25rem;
  box-shadow: 1px 1px 10px -4px rgba(0,0,0,.2);
  border: 1px solid #f384a7;
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  transition: background .3s;
}

.menu__button:hover {
  background-color:#fbf5ff;
  color: #f384a7;
}

.menu__card:hover .menu__card__img {
  transition: .3s ease-in-out;
  transform: translateY(-.50rem);
}


#toast__box {
  position: fixed;
  top: 100px;
  right: 5px;
  display: none;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  /* padding: 20px; */
  margin-bottom: 100px;
}

.toast {
  background-color: #f384a7;
  border-radius: 30px;
  color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  padding: 10px;
  margin-bottom: 10px;
}

/* Small devices (e.g., phones) */
@media screen and (max-width: 480px) {
body {
  max-width: 480px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

  .shop {
    max-width: 100%;
    margin-bottom: 0;
  }

  .shop__cupcake_2 {
    width: 30vw;
    right: 1.5rem;
    overflow: hidden;
  }

  .shop__container {
    max-width: 100%;
  }

  .shop__img {
    width: 60%;
  }

  .shop__title {
    font-size: 30px;
  }

  .shop__subtitle {
    font-size: 16px;
  }

  .menu {
    padding-bottom: 0;
    row-gap: 10px;
    height: fit-content;
    margin-top: 0;
  }

  .menu__container {
    padding-top: 0;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 3rem;
  }

  .menu__card {
    max-width: max-content;
    width: 100%;
  }

  .menu__container img {
    width: 180px
  }

  #toast__box {
    top: 80px;
  }
}

/* Medium devices (e.g., tablets) */
@media screen and (min-width: 481px) and (max-width: 850px) {
  body {
    max-width: 850px;
    height: 100%;
    width: 100%;
  }

  .shop {
    max-width: 100%;
  }

  .shop__container {
    max-width: 100%;
  }

  .shop__cupcake_2{
    width: 15vw;
    right: 7rem;
  }

  .shop__img {
    width: 70%;
  }

  .section__title {
    padding-top: 0;
  }

  .menu__card {
    width: auto;
  }

  .menu__container {
    max-width: max-content;
    padding-top: 0;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #toast__box {
    top: 90px;
  }
}

/* Large devices (e.g., desktops) */
@media screen and (min-width: 851px) and (max-width: 1450px) {
  body {
    max-width: 1450px;
    height: 100%;
    width: 100%;
  }

  .shop {
    max-width: 100%;
  }
  
  .shop__container {
    max-width: 50%;
  }

  .shop__img {
    width: 80%;
  }

  .menu__container {
    padding-top: 0;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .menu__card {
    max-width: 500px;
    width: 100%;
    padding-top: 5rem;;
  }

  .menu__container img {
    width: 250px;
  }

  #toast__box {
    top: 100px
  }
}

@media screen and (min-width: 481px) and (max-width: 890px) {
  .menu__container img{
    width: 300px;
  }
}
