/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "freight-display-pro,Constantia,Lucida Bright,Lucidabright,Lucida Serif,Lucida,DejaVu Serif,Bitstream Vera Serif,Liberation Serif,Georgia,serif";
    font-weight: 500;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* NAVIGASI */
/* variable (navigasi) */
:root {
  --header-height: 3.5rem;
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*tipografi*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*font Weight*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*z Index*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*responsif Tipografy*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
} */


button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 0.3rem;
}

.logo h3 {
  font-size: 18px;
  margin-top: 20px;
  letter-spacing: -0.5px;
  color: #222123;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.logo__image>img{
  width: 100px;
}

.logo__image{
  z-index: 100;
  display: flex;
  margin-right: 20px;
}

.logo__link{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* responsif navigasi bar */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.logo__link{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

.show-menu {
  top: 0;
}

/*search*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*breakpoint*/
/*pas medium device*/
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/*buat large device*/
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}


main {
    background: linear-gradient(to bottom, #FFE9F0, #DFD9FF);
    height: 100%;
    padding: 3rem;
    padding-top: 10vw;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}
  
main form {
  display: flex;
  margin-top: 2.5vw;
  gap: 20px;
}

.left {
  flex: 65%;
}

.right {
  flex: 35%;
}

.order-wrapper {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.orders, .input-recipient, .payment-method, .order-summary{
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -4px rgba(0,0,0,.2);
}

.order {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order .img-container {
  width: 80px;
  height: 90px;
  border-radius: 15px;
  overflow: hidden;
}

.order-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.order-name {
  font-weight: 700;
  font-size: 1rem;
}

.order-qty {
  opacity: 75%;
  font-weight: 300;
}

.input-recipient {
  margin: 2vw 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-name, .input-number {
  flex: 50%;
}

.input-wrapper div, .input-address{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input-wrapper div input {
  width: 100%;
}

.payment-wrapper {
  padding: 1rem;
}

.category button {
  background: transparent;
  border-radius: 20px;
  outline: none;
  border: 1px solid #e5e5e5;
  padding: .5rem .75rem;
  cursor: pointer;
}

.category button:hover {
  border-color: #bcbcbc;
}

.category button.active {
  color: #f384a7;
  border-color: #f384a7;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  /* gap: 1rem; */
  row-gap: .75rem;
  margin: 1rem 0;
}

.none {
  display: none;
}


.pay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 49%;
  padding: .5rem .75rem;
  gap: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: .1s all ease-in;
}

.pay:hover {
  border-color: #bcbcbc;
}

.payment .pay.active {
  border-color: #bcbcbc;
}

.pay input[type="radio" i]:checked + label{
  color: #f384a7;
  background-color: #f384a7;
}

.pay .img-pay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 3vw;
}

.pay span {
  text-align: left;
}

.card-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.card-num input {
  width: 100%;
}

.card-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-expired input {
  width: 50px;
}

.expired-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info-wrapper > div {
  /* flex: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-cvv input {
  width: 5rem;
}

.allowed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
}

.img-bank {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allowed img {
  width: 5vw;
}

.category {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.sub-wrapper {
  padding: 1rem;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .5rem;
}

.total {
  padding-top: .5rem;
  border-top: 1px solid #bcbcbc;
}

.total-wrap {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

.submit {
  outline: none;
  border: none;
  background-color: #f384a7;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: .5rem;
  margin-top: .5rem;
  transition: .3s all ease-in-out;
  border: 1px solid #f384a7;
}

.submit:hover {
  background-color: transparent;
  color: #f384a7;
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 980px) {
  main form {
    flex-direction: column;

  }
}

.error-message {
  height: .5rem;
  color: red;
  font-size: .75rem;
  margin-top: 5px;
  font-weight: 300;
}


.footer__container{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #fff;
}

.footer__container .container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.footer__container .container .sec h2{
  position: relative;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer__container .container .sec p{
  columns: #555;
}

.footer__container .container .sci{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,50px);
}

.footer__container .container .sci li{
  list-style: none;
}

.footer__container .container .sci li a{
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #000000;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

.footer__container .container .sci li a i{
  color: #fff;
  font-size: 20px;
}

.footer__container .container .quickLinks{
  position: relative;
}

.footer__container .container .quickLinks ul li{
  list-style: none;
}

.footer__container .container .quickLinks ul li a{
  color: #555;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}

.footer__container .container .contact .info{
  position: relative;
}

.footer__container .container .contact .info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.footer__container .container .contact .info li span{
  color: #555;
  font-size: 20px;
}

.footer__container .container .contact .info li a{
  color: #555;
  text-decoration: none;
}

.copy-right{
  width: 100%;
  background: #fff;
  padding: 20px 100px 30px;
  text-align: center;
  color: #555;
  border: 1px solid rgba(0,0,0,0.15);
}