@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* css buat nav bar */
header {
  padding: 0;
  margin: 0;
}
.nav_header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4F5563;
  background-color: #FAFCFF;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  z-index: 100;
}
.nav {
  height: 70px;
  max-width: 1120px;
  margin-inline: 24px;
}
.nav_data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_header a {
  text-decoration: none;
}
.nav_menu ul {
  list-style: none;
}
.nav_logo {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  font-style: italic;
  color: #f384a7;
  font-weight: bold;
  transition: color 0.3s;
}
.nav_logo img{
    width: 110px;
    height: 110px;
}
.nav_logo i {
  font-size: 20px;
}
.nav_logo:hover {
  color: #9A3AD9;
}
.nav_toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav_toggle-menu, .nav_toggle-close {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
  font-size: 20px;
  color: #000000;
}
.nav_toggle-close {
  opacity: 0;
}
@media screen and (max-width: 1118px) {
    .nav_menu {
      position: absolute;
      width: 100%;
      height: calc(100vh - 55px);
      overflow: auto;
      pointer-events: none;
      left: 0;
      padding-block: 24px 64px;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
      background-color: #FAFCFF;
    }
    /* scrollbar sebelah kanan saat dropdown menu asya di pencet muncul scroll bar */
    .nav_menu::-webkit-scrollbar {
      width: 8px;
    }
    .nav_menu::-webkit-scrollbar-thumb {
      background-color: hsl(223, 10%, 65%);
    }
}
.nav_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    color: #000000;
    font-weight: bold;
    transition: background-color 0.3s;
}
.nav_link_afterLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: bold;
    padding: 20px 10px;
    transition: background-color 0.3s;
}
.nav_link_afterLogin p{
  margin-left: 15px;
}
.nav_link:hover {
  background-color: #F2F6FD;
}
.show-menu {
  top: 56px;
  pointer-events: initial;
  opacity: 1;  
}
.show-icon .nav_toggle-menu {
  transform: rotate(90deg);
  opacity: 0;  
}
.show-icon .nav_toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}
.dropdown_button {
  cursor: pointer;
}
.dropdown_arrow {
    font-size: 24px;
    font-weight: initial;
    transition: transform 0.4s;
}
.dropdown_content, .dropdown_group, .dropdown_list {
   display: grid;
}
.dropdown_container {
    background-color: #F2F6FD;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}
.dropdown_content {
    row-gap: 20px;
}
.dropdown_group {
  row-gap: 8px;
  padding-left: 40px;
    
}
.dropdown_group:first-child {
  margin-top: 20px;
}
.dropdown_group:last-child {
  margin-bottom: 20px;
}
.dropdown_icon i {
  font-size: 20px;
  color: #f384a7;
}
.dropdown_title {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
.dropdown_list {
  row-gap: 4px;
}
.dropdown_link {
  font-size: 12px;
  font-weight: 500;
  color: #4F5563;
  transition: color 0.3s;
}
.dropdown_link:hover {
  color: #57256A;
}
.show-dropdown .dropdown_arrow {
  transform: rotate(180deg);
}
/*breakpoint*/
/*buat small devices */
@media screen and (max-width: 300px) {
  .dropdown_group {
    padding-left: 24px;
  }
}
/*buat large devices */
@media screen and (min-width: 1118px) {
  .nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
  }
  .nav li {
    display: flex;
  }
  .nav_toggle {
    display: none;
  }
  .nav_list {
    display: flex;
    column-gap: 48px;
    height: 100%;
  }
  .nav_link {
    padding: 5px;
  }
  .nav_link:hover {
    background-color: initial;
  }
  .dropdown_button {
    column-gap: 4px;
    pointer-events: none;
  }
  .dropdown_container {
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #FAFCFF;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown_content {
    justify-content: center;
    grid-template-columns: repeat(5, max-content);
    column-gap: 100px;
    max-width: 1120px;
    margin-inline: auto;
  }
  .dropdown_group {
    padding: 64px 0;
    align-content: baseline;
    row-gap: 20px;
  }
  .dropdown_group:first-child, .dropdown_group:last-child {
    margin: 0;
  }
  .dropdown_list {
    row-gap: 12px;
  }
  .dropdown_icon {
    width: 60px;
    height: 60px;
    background-color: #F2F6FD;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 16px;
  }
  .dropdown_icon i {
    font-size: 32px;
  }
  .dropdown_title {
    font-size: 16px;
  }
  .dropdown_link {
    font-size: 13px;
  }
  .dropdown_link:hover {
    color: #9A3AD9;
  }
  .dropdown_item {
    cursor: pointer;
  }
  .dropdown_item:hover .dropdown_arrow {
    transform: rotate(180deg);
  }
  .dropdown_item:hover > .dropdown_container {
    pointer-events: initial;
    cursor: initial;
    top: 80px;
    opacity: 1;
  }
  .dropdown_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

/* css buat register.html */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: "Poppins", sans-serif;
}
main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fbf5ff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}
.register_box {
  position: relative;
  width: 100%;
  margin-top: 5px;
  max-width: 100%;
  height: 700px;
  background-color: #fff;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}
.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forms-wrap {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}
form {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}
form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}
.form_close{
  font-size: 25px;
  color: #4c4c4c;
  cursor: pointer;
  transition: color .4s;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  height: 100px;
  margin-right: 0.3rem;
}
.logo h3 {
  font-size: 18px;
  margin-top: 20px;
  letter-spacing: -0.5px;
  color: #222123;
}
.heading h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 16px;
  display: inline;
}
.toggle {
  color: #000000;;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.toggle:hover {
  color: #df71fd;
}
.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}
.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}
label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #6c6c6c;
  pointer-events: none;
  transition: 0.4s;
}
.input-field.active {
  border-bottom-color: #151111;
}
.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}
.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #2f173f;;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.sign-btn:hover {
  background-color: #f5b2ff;
}
.text {
  color: #bbb;
  font-size: 0.7rem;
}
.text a {
  color: #bbb;
  transition: 0.3s;
}
.text a:hover {
  color: #df71fd;
}
main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}
main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}
main.sign-up-mode .forms-wrap {
  left: 55%;
}
main.sign-up-mode .carousel {
  left: 0%;
}
.carousel {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  top: 0;
  background-color: #ffeefd;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}
.images-wrapper {
  display: grid;
  margin-left: 90px;
  text-align: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}
.img-1 {
  transform: translate(0, -50px);
}
.img-2 {
  transform: scale(0.4, 0.5);
}
.img-3 {
  transform: scale(0.3) rotate(-20deg);
}
.image.show {
  opacity: 1;
  transform: none;
}
.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
  color: #000000;
}
.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}
.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s;
}
.bullets span.active {
  width: 1.1rem;
  background-color: #000000;
  border-radius: 0.5rem;
}
@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }
  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }
  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }
  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }
  .heading {
    padding-bottom: 10px;
    margin: 2rem 0;
  }
  form.sign-up-form {
    transform: translateX(100%);
  }
  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }
  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center ;
    position: revert;
    padding-left: 20px;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
  }
  .images-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }
  .box {
    border-radius: 5px;
  }
  .inner-box {
    padding: 1rem;
  }
  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 5px;
  }
  .text-wrap {
    margin-bottom: 1rem;
  }
  .text-group h2 {
    font-size: 1.2rem;
  }
  form {
    padding: 1rem 2rem 1.5rem;
  }
}